name: Build Sample Xcode iOS Application for demonstration

on:
  push:

permissions:
  actions: write

jobs:
  build-sample-app:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: latest-stable
      - uses: ruby/setup-ruby@b90be12699fdfcbee4440c2bba85f6f460446bb0 # v1.279.0
        with:
          ruby-version: '3.4.7'
      - uses: irgaly/xcode-cache@main
        with:
          key: xcode-cache-deriveddata-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ github.workflow }}-
          delete-used-deriveddata-cache: true
          verbose: true
      - run: gem install fastlane
      - shell: bash -xeu {0}
        run: |
          cd sample/MyApp
          fastlane gym --project MyApp.xcodeproj --scheme MyApp --disable_package_automatic_updates --skip_codesigning --skip_archive
