name: Build distributions & commit dist

on:
  push:
    branches:
      - main

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
      - run: npm install
      - shell: bash -xeu {0}
        run: npm run build
      - uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        id: gpg
        with:
          gpg_private_key: ${{ secrets.SIGNING_PGP_KEY }}
          passphrase: ${{ secrets.SIGNING_PGP_PASSWORD }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        env:
          GIT_AUTHOR_NAME: irgaly
          GIT_AUTHOR_EMAIL: ${{ steps.gpg.outputs.email }}
          GIT_COMMITTER_NAME: irgaly
          GIT_COMMITTER_EMAIL: ${{ steps.gpg.outputs.email }}
        shell: bash +e {0}
        run: |
          git commit -am "Update dist" && git push origin HEAD
          exit 0
